header {
  .header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    font-weight: 600;
    font-size: 20px;
  }

  .cart {
    font-size: 28px;
    padding: 5px;
    display: inline-block;
    margin-left: auto;
    transition: color 500ms, transform 500ms ease;

    &:hover {
      color: #dc3d3d;
      cursor: pointer;
    }
  }

  .active {
    color: #dc3d3d;
    transform: scale(1.5);
  }

  .cartOpen {
    position: absolute;
    width: 400px;
    background-color: lightgray;
    min-height: 200px;
    top: 50px;
    right: 0;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 6px -3px #000000;
    box-shadow: 5px 5px 6px -3px #000000;
  }

  .presentation {
    margin: 50px 0;
    background-image: url('../../img/arnika.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;

    &::after {
      content: 'Best products';
      position: absolute;
      top: 100px;
      left: 50px;
      width: 200px;
      color: white;
      font-size: 40px;
      font-weight: 600;
    }

    &::before {
      content: 'at low prices';
      position: absolute;
      top: 250px;
      left: 50px;
      width: 200px;
      color: white;
      font-size: 15px;
      font-weight: 300;
    }
  }
}
